@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background-color: black;
    
}

body {

    margin-bottom: 30px;

}

header {
    
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:   black;   
    /* position: fixed; */

}

nav {
    
    width: 60%;

}

ul {
    
    display: flex;
    justify-content: space-between;
    width: 100%;
}

li{
    
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 20px;
    transition: 0.75s;
    font-family: 'Kdam Thmor Pro', sans-serif ;

}
li:hover{
   
    color: #D4AF37;
    transform: scale(0.98);

}

#Logo {
    
    width: 120px;
    height: auto;
    cursor: pointer;
    margin-top: 20px;
    
}

#Banner {
    
    background-image: url('https://streamcoimg-a.akamaihd.net/000/390/615/390615-Banner-L2-5910462c50979976730b358bb59c3ec1.jpg');
    background-position: 70% 10%;
    background-size: cover;
    width: 100%;
    height: 600px;

}

#video-text {
    
    width: 100%;
    height: 395px;
    display: flex;
    justify-content: center;

}

.conteudo {
   
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between; 

}

.video {
    
    width: 55%;
    

}

#sinopse {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;

}

.description {
    
    color: #D4AF37;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif ;
    width: 90%;

}

.button {

    width: 300px;
    height: 80px;
    background-color: red;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
    color: #fff;
    font-size: 25px;
    margin-left: 0;

}

.button:hover{
    
    background-color: #D4AF37;
    color: #fff;
    transform: scale(1.04);
    
}

.actors-container {
    
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.container-content{
   
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;

}

.card {

    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color:  #D4AF37;
    font-display: black;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 30px;
    
}

.banner1 {
    
    background-image: url('https://d17918ephmec2j.cloudfront.net/media/k2/items/cache/665e3353c5a0a1298b58f0408e39e998_L.jpg');

}

.banner2 {
    
    background-image: url('https://pbs.twimg.com/media/FwMsTUIWIBMaxU8.jpg:large');

}

.banner3 {
    
    background-image: url('https://static.ffx.io/images/$zoom_1%2C$multiply_0.2646%2C$ratio_0.666667%2C$width_1391%2C$x_94%2C$y_0/t_crop_custom/q_86%2Cf_auto/e4eef822b4c450a01c1faf5e0ec840fb7cd1f140');

}

.card:hover {

    transform: scale(1.02);

}

.footer {

    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

span {
    
    color: #D4AF37;
    font-family: 'Kdam Thmor Pro', sans-serif;

}
.navigation-footer{

    display: none;

}

.footer-content {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.fotos-container {

    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.fotos-container-content {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    row-gap: 10px;
    column-gap: 20px;

}

.card1 {

    width: 570px;
    height: 400px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    /* cursor: pointer; */
    /* transition: 1s; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 20px 10px;
    margin: 20px 40px;
    color:  #D4AF37;
    font-display: black;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 30px;

}

.fotos1{

    background-image: url('https://hips.hearstapps.com/hmg-prod/images/american-actors-marlon-brando-and-al-pacino-on-the-set-of-news-photo-1578503843.jpg?crop=1.00xw:0.756xh;0,0.0556xh&resize=1200:*');

}

.fotos2 {

    background-image: url('https://assets1.cbsnewsstatic.com/hub/i/r/2012/03/10/f8ea7194-d271-11e2-a43e-02911869d855/thumbnail/640x465/a27580314878a79d973068fdd75f854e/TheGodfather_02.jpg?v=4c3eff96812a3b6c2e014b1daed33369');

}

.fotos3 {

    background-image: url('https://www.austinchronicle.com/binary/243c/SS.TheGodfather.jpg');

}

.fotos4 {

    background-image: url('https://static1.cbrimages.com/wordpress/wp-content/uploads/2022/03/the-godfather.jpg');

}

.fotos5 {

    background-image: url('https://hips.hearstapps.com/hmg-prod/images/al-pacino-as-michael-corleone-in-the-godfather-the-movie-news-photo-1646925222.jpg?crop=1xw:0.99305xh;center,top');

}

.fotos6 {

    background-image: url('https://www.epicurious.com/images/articlesguides/entertaining/partiesevents/godfather_612.jpg');

}

/* html {

    font-family: 'Kdam Thmor Pro', sans-serif;
    color:#D4AF37;
    overflow-x: hidden;

} */

h2 {
    
    margin: 0;
    color: #D4AF37;
    font-size: 2.5em;
    font-weight: 200;
    font-family: 'Kdam Thmor Pro', sans-serif;
    
}

#contact-form {
    
    max-width: 1208px; 
    max-width: 75.5rem;
    margin:100px 230px ;
    width: 700px;
    height: 350px;
    
}

#contact, label, input[name="submit"] {
    
    position: relative;

}

label > span, input, textarea, button {
    
    box-sizing: border-box;

}

label {
    
    display: block;

}

label > span {
    
    display: none;

}

input, textarea, button {
    
    width: 100%;
    padding: 0.5em;
    border: none;
    font-family: 'Kdam Thmor Pro', sans-serif;

}

input[type="text"], input[type="email"], textarea {
    
    margin: 0 0 1em;
    border: 1px solid #ccc;
    outline: none;
}

input.invalid, textarea.invalid {
    
    border-color: #d5144d;
    border-radius: 10px;
}

textarea {
    height: 6em;

}

input[type="submit"], button {
    
    background:red;
    color: #fff;
    width: 515px;
    height: 60px;
    border-radius: 5px;
    font-size: 20px;

}

input[type="submit"]:hover, button:hover {
    
    background: #D4AF37;
    transition: .8s;
    
}

#contact-form h2 {
    
    margin-left: 26.3736%;
    font-size: 2em;
    line-height: 1.5;

}

label > span {
    
    vertical-align: top;
    display: inline-block;
    width: 26.3736%;
    padding: 0.5em;
    border: 1px solid transparent;
    text-align: right;

}

.nome {

    background-color: #fff;

}

.email {

    background-color: #fff;

}

input, textarea, button {
    
    width: 73.6263%;
    line-height: 1.5;
    font-family: 'Kdam Thmor Pro', sans-serif;
  
}

textarea {
    
    
    height: 10em;
    background-color: #fff;
    color: black;
  
}

input[type="submit"], button {
    margin-left: 26.3736%;
  
}

.img {

    margin-top: 30px;
    margin-left: 300px;
    cursor: pointer;
    border-radius: 5px;

}

.ind {

    width: 900px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-left: 240px;
    margin-top: 140px;
    row-gap: 30px;
    font-size: 40px;
    color: #D4AF37;
    margin-bottom: 150px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

@media (max-width: 768px){
    
    #Logo {

        margin-top: 20px;
        width: 100%;
        height: 80px;

    }

    .navigation-footer{

        display: block;

    }

    nav{

        display: none;

    }

    #Banner {
        
        width: 100%;
        height: 900px;
        margin-top: 30px;
        background-position: 8%;
        background-position: 50% 40%;
        background-image: url('https://musicart.xboxlive.com/7/77295200-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080');


    }

    #video-text {

        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;

    }

    .conteudo {

        width: 95%;
        display: flex;
        flex-direction: column;

    }


    .video {

        width: 100%;
        margin-left: 50px;

    }

    #sinopse {

        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .description {

        width: 100%;

    }

    .button {

        width: 100%;
        margin-top: 30px;
        font-size: 40px;
        width: 700px;

    }

    .button:hover {

        transform: scale(1.03);

    }

    .container-content {

        grid-template-columns: 1fr;
        margin-top: 150px;

    }

    .footer {

    height: 450px;
    margin-top: 50px;
    

    }

    .card {

    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 50% 20%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color:  #D4AF37;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 30px;
    

    }

    .fotos-container {

        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    
    }
    
    .fotos-container-content {
    
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        row-gap: 10px;
        column-gap: 20px;
    
    }
    
    .card1 {
    
        width: 570px;
        height: 400px;
        background-size: cover;
        background-position: 50% 50%;
        border-radius: 5px;
         transition: 1s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 20px 10px;
        margin: 30px 80px;
        color:  #D4AF37;
        font-display: black;
        font-family: 'Kdam Thmor Pro', sans-serif;
        font-size: 30px;
    
    }

    h2 {
    
        margin: 0;
        color: #D4AF37;
        font-size: 2.5em;
        font-weight: 200;
        font-family: 'Kdam Thmor Pro', sans-serif;
        
    }
    
    #contact-form {
        
        max-width: 1208px; 
        max-width: 75.5rem;
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 80px;
        width: 520px;
        height: 350px;
        
    }
    
    #contact, label, input[name="submit"] {
        
        position: relative;
    
    }
    
    label > span, input, textarea, button {
        
        box-sizing: border-box;
    
    }
    
    label {
        
        display: block;
    
    }
    
    label > span {
        
        display: none;
    
    }
    
    input, textarea, button {
        
        width: 100%;
        padding: 0.5em;
        border: none;
        font-family: 'Kdam Thmor Pro', sans-serif;
    
    }
    
    input[type="text"], input[type="email"], textarea {
        
        margin: 0 0 1em;
        border: 1px solid #ccc;
        outline: none;
    }
    
    input.invalid, textarea.invalid {
        
        border-color: #d5144d;
        border-radius: 10px;
    }
    
    textarea {
        height: 6em;
    
    }
    
    input[type="submit"], button {
        
        background:red;
        color: #fff;
        width: 340px;
        height: 60px;
        border-radius: 5px;
        font-size: 20px;
    
    }
    
    input[type="submit"]:hover, button:hover {
        
        background: #D4AF37;
        transition: .8s;
        
    }
    
    #contact-form h2 {
        
        margin-left: 26.3736%;
        font-size: 2em;
        line-height: 1.5;
    
    }
    
    label > span {
        
        vertical-align: top;
        display: inline-block;
        width: 26.3736%;
        padding: 0.5em;
        border: 1px solid transparent;
        text-align: right;
    
    }
    
    .nome {
    
        background-color: #fff;
    
    }
    
    .email {
    
        background-color: #fff;
    
    }
    
    input, textarea, button {
        
        width: 73.6263%;
        line-height: 1.5;
        font-family: 'Kdam Thmor Pro', sans-serif;
      
    }
    
    textarea {
        
        
        height: 10em;
        background-color: #fff;
        color: black;
      
    }
    
    input[type="submit"], button {
        margin-left: 26.3736%;
      
    }

    .img {

        width: 700px;
        margin-top: 30px;
        margin-left: 30px;
        cursor: pointer;
        border-radius: 5px;
        background-size: 10% 10%;
        background-position: cover;
    
    }
    
    .ind {
    
        width: 700px;
        height: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: #fff;
        margin-left: 40px;
        margin-top: 140px;
        row-gap: 30px;
        font-size: 40px;
        color: #D4AF37;
        margin-bottom: 150px;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }

}
